<body class="home-user-content">
<div class="toolbar">
</div>
<br><br>
<div class="notification-panel-header" style="margin-top: 100px; margin-left:100px;">
  <label class="title" style="margin-left:170px; margin-top:5px; color: black;"> Prikaz rezervacija</label>
</div>
<div class="notification-panel" style=" margin-left:100px;">
  <table class="table">
    <tr class="table-header">
      <th class="header__item">Id</th>
      <th class="header__item">Pocetak</th>
      <th class="header__item">Kraj</th>
      <th class="header__item">Avantura</th>
      <th class="header__item">Korisnik</th>
      <th class="header__item"></th>
      <th class="header__item"></th>
    </tr>
    <tr *ngFor="let reservation of reservations" class="table-row">
      <td class="table-data">{{reservation.id}}</td>
      <td class="table-data">{{reservation.start}}</td>
      <td class="table-data">{{reservation.end}}</td>
      <td class="table-data">{{reservation.adventureReservation.title}}</td>
      <td class="table-data">{{reservation.userReservation.firstName}} {{reservation.userReservation.lastName}}</td>
      <td class="table-data">
        <button (click)="createReview(reservation.adventureReservation.id)" class="approve-button">Unesi recenziju
        </button>
      </td>
      <td class="table-data">
        <button (click)="createComplaint(reservation.adventureReservation.id)" class="approve-button">Unesi zalbu
        </button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="flag" style="width: 300px; height: 200px; margin-left:1000px; margin-top:-300px; position: fixed;">
  <input [(ngModel)]="review1.comment" [ngModelOptions]="{standalone: true}" placeholder="Unesite komentar" style="width: 100%; height:100%"
         type="text"/>
</div>
<div *ngIf="flag" style="width: 300px; height: 30px; margin-left:1000px; margin-top:-50px; position: fixed;">
  <input [(ngModel)]="review1.grade" [ngModelOptions]="{standalone: true}" placeholder="Unesite ocenu" style="width: 100%; height:100%"
         type="text"/>
</div>
<div *ngIf="flag1" style="width: 300px; height: 200px; margin-left:1000px; margin-top:-300px; position: fixed;">
  <input [(ngModel)]="complaint.content" [ngModelOptions]="{standalone: true}" placeholder="Unesite tekst" style="width: 100%; height:100%"
         type="text"/>
</div>


</body>
