<body class="home-user-content">
<div class="toolbar">
</div>
<br><br>
<div class="notification-panel-header" style="margin-top: 100px; margin-left:10px">
  <label class="title" style="margin-left:170px; margin-top:5px; color: black;"> Prikaz rezervacija</label>
</div>
<div class="notification-panel" style=" margin-left:10px;">
  <table class="table">
    <tr class="table-header">
      <th class="header__item">Id</th>
      <th class="header__item">Pocetak</th>
      <th class="header__item">Kraj</th>
      <th class="header__item">Avantura</th>
      <th class="header__item"></th>
      <th class="header__item"></th>
    </tr>
    <tr *ngFor="let reservation of reservations" class="table-row">
      <td class="table-data">{{reservation.id}}</td>
      <td class="table-data">{{reservation.start}}</td>
      <td class="table-data">{{reservation.end}}</td>
      <td class="table-data">{{reservation.adventureReservation.title}}</td>
      <td class="table-data">
        <button (click)="createReview(reservation.adventureReservation.id, reservation.id)" *ngIf="flagButton"
                class="approve-button">Unesi
          recenziju
        </button>
      </td>
      <td class="table-data">
        <button (click)="createComplaint(reservation.adventureReservation.id, reservation.id)" *ngIf="flag1Button"
                class="approve-button">Unesi zalbu
        </button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="flag"
     style="background-color: #D1D4D8; width: 300px; height: 200px; margin-left:500px; margin-top:50px; position:fixed">
  <button (click)="closeModal()" class="mat-button" style="margin-left: 90%; margin-top: 3px">X</button>
  <br>
  <label style="margin-left:3px">Izaberite ocenu:</label>
  <select [(ngModel)]="review1.grade" style="margin-left:5px">
    <option option="1">1</option>
    <option selected="2">2</option>
    <option option="3">3</option>
    <option selected="4">4</option>
    <option option="5">5</option>
  </select>
  <br>
  <textarea [(ngModel)]="review1.comment" [ngModelOptions]="{standalone: true}" placeholder="Unesite komentar"
            style="width:98%; height: 65%" type="text"></textarea>
</div>
<div *ngIf="flag1"
     style="background-color: #D1D4D8; width: 300px; height: 200px; margin-left:500px; margin-top: 50px; position:fixed">
  <button (click)="closeModal()" class="mat-button" style="margin-left: 90%; margin-top: 3px">X</button>
  <br>
  <br>
  <textarea [(ngModel)]="complaint.content" [ngModelOptions]="{standalone: true}" placeholder="Unesite tekst zalbe"
            style="width: 98%; height:73%;"
            type="text"></textarea>
</div>


</body>
