<div class="cottage-owner-content">
    <mat-toolbar >
        <div style="width: 50%; float:left">
            <label style="margin-left:5%;">Dobro dosao, {{user.username}}!</label>
        </div>
        
        <div style="width: 50%; float:right; text-align: right;">
            <button mat-raised-button color="primary" (click)="logOut()" style="margin-left: 5%; margin-right: 5%; cursor:pointer;">Odjavite se</button>
        </div>
    </mat-toolbar>
    <div class="links-containter">
        <hr>
        <div (click)="goToCottageList()" class="link-container" style="background-image: url(/assets/img/cottageLink.jpg);">
            <div class="right"><h1><b>Vikendice</b></h1></div>
        </div>
        <p></p>
        <div class="link-container" style="background-image: url(/assets/img/calendar.jpeg);">
            <div class="right"><h1><b>Termini</b></h1></div>
        </div>
        <p></p>
        <div (click)="goToProfile()" class="link-container" style="background-image: url(/assets/img/desk.png); background-position: top;">
            <div class="right"><h1><b>Profil</b></h1></div>
        </div>
        <hr>
    </div>
    
    <div class="profile-card">
        <hr>
        <img src="/assets/img/profile.png" style="width: 100%;" >
        <label style="text-align: center; color: white;"><h3>{{user.firstName}} {{user.lastName}}</h3></label>
        <hr>
    </div>
</div>
