.instructor-calednar-content {
  height: 100%;
  width: 100%;
  background-color: #F8F4F9;
  background-position: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.dot-red {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot-blue {
  height: 10px;
  width: 10px;
  background-color: darkcyan;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 10px;
  width: 10px;
  background-color: seagreen ;
  border-radius: 50%;
  display: inline-block;
}

.cal-month-view .bg-red, .cal-week-view .cal-day-columns .bg-red, .cal-day-view .bg-red {
  background-color: red !important;
}

.cal-month-view .bg-blue, .cal-week-view .cal-day-columns .bg-blue, .cal-day-view .bg-blue {
  background-color: darkcyan !important;
}

.cal-month-view .bg-green, .cal-week-view .cal-day-columns .bg-green, .cal-day-view .bg-green {
  background-color: seagreen !important;
}