<body class="instructor-calendar-content">
<div class="toolbar">
  <button (click)="goBack()" class="button-2" style="margin-left:30px;"> Nazad</button>
  <button (click)="showTermin()" class="button-2" style="margin-left:150px;">Termini</button>
  <button (click)="showReservation()" class="button-2" style="margin-left:50px;">Rezervacije</button>
</div>
<br><br><br><br>

<div *ngIf="flag1" class="notification-panel" style="margin-top:100px; margin-left:100px; position:fixed">
  <button class="mat-button" (click)="showAddTermin()" style="margin-left: 10px; color: black; background-color:lightgrey">Novi termin</button>
  <table class="table">
    <tr class="table-header">
      <th class="header__item">Datum pocetka</th>
      <th class="header__item">Datum zavrsetka</th>
      <th class="header__item">Akcija</th>
      <th class="header__item">Rezervisan</th>
      <th class="header__item"></th>
      <th class="header__item"></th>
    </tr>
    <tr *ngFor="let termin of termins" class="table-row">
      <td class="table-data">{{termin.start}}</td>
      <td class="table-data">{{termin.end}}</td>
      <td class="table-data">{{termin.action}}</td>
      <td class="table-data">{{termin.reserved}}</td>
      <td class="table-data">
        <button (click)="editTerminShow(termin.id)" *ngIf="!termin.reserved" class="approve-button">Izmeni</button>
      </td>
      <td class="table-data">
        <button (click)="deleteTermin(termin.id)" *ngIf="!termin.reserved" class="disable-button">Obrisi</button>
      </td>
    </tr>
  </table>
</div>

<div class="login-container" *ngIf="flag5" style="margin-left:900px;">
  <section class="login">
    <header>
      <h2 style="margin-left:100px;">Kreiranje termina</h2>
    </header>
    <form class="login-form">
      <label>Datum pocetka:</label><br>
      <input [(ngModel)]="termin1.start" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="dd-MMM-YYYY HH:mm:ss" required type="text"/><br>
      <label>Datum zavrsetka:</label><br>
      <input [(ngModel)]="termin1.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="dd-MMM-YYYY HH:mm:ss" required type="text"/><br>
      <label>Trajanje:</label><br>
      <input [(ngModel)]="termin1.duration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Trajanje" required type="text"/>
      <div class="submit-container">
        <button (click)="reject()" class="login-button" style="margin-right:210px;">Odustani</button>
        <button (click)="createTermin()" class="login-button">Potvrdi</button>
      </div>
    </form>
  </section>
</div>

<div *ngIf="flag2" class="login-container" style="margin-left:900px">
  <section class="login" id="login">
    <header>
      <h2 style="margin-left:100px;">Izmena termina</h2>
    </header>
    <form class="login-form">
      <label>Datum pocetka:</label><br>
      <input [(ngModel)]="termin.start" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="dd-MMM-YYYY HH:mm:ss" required type="text"/><br>
      <label>Datum zavrsetka:</label><br>
      <input [(ngModel)]="termin.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="dd-MMM-YYYY HH:mm:ss" required  type="text"/><br>
      <label>Trajanje:</label><br>
      <input [(ngModel)]="termin.duration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Trajanje" required type="text"/>
      <div class="submit-container">
        <button (click)="reject()" class="login-button" style="margin-right:210px;">Odustani</button>
        <button (click)="editTermin()" class="login-button">Potvrdi</button>
      </div>
    </form>
  </section>
</div>

<div *ngIf="flag3" class="notification-panel" style="margin-top:100px; margin-left:20px;">
  <table class="table">
    <tr class="table-header">
      <th class="header__item">Datum pocetka</th>
      <th class="header__item">Datum zavrsetka</th>
      <th class="header__item">Naziv avanture</th>
      <th class="header__item">Korisnik</th>
      <th class="header__item"></th>
      <th class="header__item"></th>
      <th class="header__item"></th>
      <th class="header__item"></th>
    </tr>
    <tr *ngFor="let reservation of reservations" class="table-row">
      <td class="table-data">{{reservation.start}}</td>
      <td class="table-data">{{reservation.end}}</td>
      <td class="table-data">{{reservation.adventureReservation.title}}</td>
      <td class="table-data">{{reservation.userReservation.firstName}} {{reservation.userReservation.lastName}}</td>
      <td class="table-data">
        <button
          (click)="createReservation(reservation.start,reservation.end,reservation.adventureReservation.id,reservation.userReservation.id)"
          *ngIf="!reservation.createdReservation" class="approve-button">Potvrdi
        </button>
      </td>
      <td class="table-data">
        <button (click)="rejectReservation(reservation.id)" *ngIf="!reservation.createdReservation"
                class="disable-button">Odbij
        </button>
      </td>
      <td class="table-data">
        <button (click)="deleteReservationTermin(reservation.id,reservation.start,reservation.end)"
                *ngIf="reservation.createdReservation" class="disable-button">Obrisi
        </button>
      </td>
      <td class="table-data">
        <button (click)="createComment(reservation.userReservation.id, reservation.id)" *ngIf="reservation.createdReservation"
                class="approve-button">Unesi komentar
        </button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="flag4" style="width: 250px; height:150px; margin-left:650px; background-color:lightgrey">
  <button (click)="closeComment()" style="margin-top:2px; margin-left:220px;">X</button>
  <input [(ngModel)]="comment.content" [ngModelOptions]="{standalone: true}" placeholder="Unesite razlog"
         style="width: 90%; height:60%; margin-top: 3px; margin-left: 8px"
         type="text"/><br>
  <label style="margin-left:8px">Negativan: </label><input [(ngModel)]="comment.negative" [ngModelOptions]="{standalone: true}"
                                   type="checkbox"/>
</div>

</body>
