<body class="instructor-calendar-content">
  <div class="toolbar">
    <button (click)="goBack()" class="button-2" style="margin-left:30px;"> Nazad</button>
    <button (click)="showTermin()" class="button-2" style="margin-left:150px;">Termini</button>
    <button (click)="showReservation()" class="button-2" style="margin-left:50px;">Rezervacije</button>
  </div>
  <br><br><br><br>

  <div class="login-container" *ngIf="flag5" style="margin-left:400px;">
    <section class="login">
      <header>
        <h2 style="margin-left:100px;">Kreiranje termina</h2>
      </header>
      <form class="login-form">
        <label>Datum pocetka:</label><br>
        <input [(ngModel)]="termin1.start" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
        <label>Datum zavrsetka:</label><br>
        <input [(ngModel)]="termin1.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
        <label>Trajanje:</label><br>
        <input [(ngModel)]="termin1.duration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="Trajanje" required type="text" />
        <div class="submit-container">
          <button (click)="reject()" class="login-button" style="margin-right:210px;">Odustani</button>
          <button (click)="createTermin()" class="login-button">Potvrdi</button>
        </div>
      </form>
    </section>
  </div>

  <div *ngIf="flag2" class="login-container" style="margin-left:400px">
    <section class="login" id="login">
      <header>
        <h2 style="margin-left:100px;">Izmena termina</h2>
      </header>
      <form class="login-form">
        <label>Datum pocetka:</label><br>
        <input [(ngModel)]="selectedTermin.start" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
        <label>Datum zavrsetka:</label><br>
        <input [(ngModel)]="selectedTermin.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
        <label>Trajanje:</label><br>
        <input [(ngModel)]="selectedTermin.duration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          placeholder="Trajanje" required type="text" />
        <button (click)="reject()" class="button-2">Odustani</button>
        <button *ngIf="!selectedTermin.reserved" class="button-2" (click)="deleteTermin()"
          style="margin-left: 30px;">Obrisi</button>
        <button *ngIf="!selectedTermin.reserved" (click)="editTermin()" class="button-2"
          style="margin-left: 35px;">Izmeni</button>
      </form>
    </section>
  </div>

  <div *ngIf="flag6" class="login-container" style="margin-left:400px">
    <section class="login" id="login">
      <header>
        <h2 style="margin-left:100px;">Prikaz rezervacije</h2>
      </header>
      <form class="login-form">
        <label>Datum pocetka:</label><br>
        <input [(ngModel)]="selectedReservation.start" [ngModelOptions]="{standalone: true}" autofocus
          class="login-input" disabled required type="text" /><br>
        <label>Datum zavrsetka:</label><br>
        <input [(ngModel)]="selectedReservation.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          disabled required type="text" /><br>
        <label>Trajanje:</label><br>
        <input [(ngModel)]="selectedTermin.duration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          disabled required type="text" />
        <label>Korisnik:</label><br>
        <input [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}" autofocus class="login-input" disabled
          required type="text" />
        <label>Avantura:</label><br>
        <input [(ngModel)]="selectedReservation.adventureReservation.title" [ngModelOptions]="{standalone: true}"
          autofocus class="login-input" disabled required type="text" />
        <button (click)="reject()" class="button-2">Zatvori</button>
      </form>
    </section>
  </div>

  <div *ngIf="flag7" class="login-container" style="margin-left:400px">
    <section class="login" id="login">
      <header>
        <h2 style="margin-left:100px;">Profil klijenta</h2>
      </header>
      <form class="login-form">
        <label>Ime korisnika:</label><br>
        <input [(ngModel)]="client.firstName" [ngModelOptions]="{standalone: true}" autofocus
          class="login-input" disabled required type="text" /><br>
        <label>Prezime korisnika:</label><br>
        <input [(ngModel)]="client.lastName" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          disabled required type="text" /><br>
        <label>Grad:</label><br>
        <input [(ngModel)]="client.city" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
          disabled required type="text" />
        <label>Ulica:</label><br>
        <input [(ngModel)]="client.address" [ngModelOptions]="{standalone: true}" autofocus class="login-input" disabled
          required type="text" />
        <label>Drzava:</label><br>
        <input [(ngModel)]="client.country" [ngModelOptions]="{standalone: true}"
          autofocus class="login-input" disabled required type="text" />
        <button (click)="reject()" class="button-2">Zatvori</button>
      </form>
    </section>
  </div>

  <div *ngIf="flag3" class="notification-panel" style="margin-top:100px; margin-left:20px;">
    <table class="table">
      <tr class="table-header">
        <th class="header__item">Datum pocetka</th>
        <th class="header__item">Datum zavrsetka</th>
        <th class="header__item">Naziv avanture</th>
        <th class="header__item">Korisnik</th>
        <th class="header__item"></th>
        <th class="header__item"></th>
        <th class="header__item"></th>
        <th class="header__item"></th>
      </tr>
      <tr *ngFor="let reservation of reservations" class="table-row">
        <td class="table-data">{{reservation.start}}</td>
        <td class="table-data">{{reservation.end}}</td>
        <td class="table-data">{{reservation.adventureReservation.title}}</td>
        <td class="table-data"><button (click)="showClientProfile(reservation.userReservation)" style="color: blue; background-color: gainsboro;">{{reservation.userReservation.firstName}} {{reservation.userReservation.lastName}}</button></td>
        <td class="table-data">
          <button
            (click)="createReservation(reservation.start,reservation.end,reservation.adventureReservation.id,reservation.userReservation.id)"
            *ngIf="!reservation.createdReservation" class="approve-button">Potvrdi
          </button>
        </td>
        <td class="table-data">
          <button (click)="rejectReservation(reservation.id)" *ngIf="!reservation.createdReservation"
            class="disable-button">Odbij
          </button>
        </td>
        <td class="table-data">
          <button (click)="deleteReservationTermin(reservation.id,reservation.start,reservation.end)"
            *ngIf="reservation.createdReservation" class="disable-button">Obrisi
          </button>
        </td>
        <td class="table-data">
          <button (click)="createComment(reservation.userReservation.id, reservation.id)"
            *ngIf="reservation.createdReservation" class="approve-button">Unesi komentar
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="flag4" style="width: 250px; height:150px; margin-left:650px; background-color:lightgrey">
    <button (click)="closeComment()" style="margin-top:2px; margin-left:220px;">X</button>
    <input [(ngModel)]="comment.content" [ngModelOptions]="{standalone: true}" placeholder="Unesite razlog"
      style="width: 90%; height:60%; margin-top: 3px; margin-left: 8px" type="text" /><br>
    <label style="margin-left:8px">Negativan: </label><input [(ngModel)]="comment.negative"
      [ngModelOptions]="{standalone: true}" type="checkbox" />
  </div>

  <div *ngIf="flag1" style="width:1000px; height:500px; margin-left: 150px; position: fixed; overflow-y: auto;">
    <span class="dot-red"></span><label
      style="color: dimgrey; font-family: 'Courier New', Courier, monospace; font-size: medium;">-Rezervisano</label>
    <span class="dot-blue" style="margin-left: 20px"></span><label
      style="color: dimgrey;font-family: 'Courier New', Courier, monospace; font-size: medium;">-Slobodno</label><br>
    <div>
      <button class="button-2" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Prethodni
      </button>
      <button class="button-2" mwlCalendarToday [(viewDate)]="viewDate">
        Danas
      </button>
      <button class="button-2" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Naredni
      </button>
      <label style=" margin-left: 10px; font-size: medium;">
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
      </label>
      <button class="button-2" style="margin-left: 10px" (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">Mesec</button>
      <button class="button-2" (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">Sedmica</button>
      <button class="button-2" (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">Dan</button>

      <button class="button-2" style="margin-left: 50px" (click)="showAddTermin()">Novi termin</button>

    </div>
    <br />

    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
        (dayClicked)="changeDay($event.day.date)" (beforeViewRender)="beforeMonthViewRender($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
        (beforeViewRender)="beforeWeekViewRender($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
        (beforeViewRender)="beforeDayViewRender($event)">
      </mwl-calendar-day-view>
    </div>

  </div>

</body>