<body class="home-registration-content">
<div class="login-container">
  <section class="login" id="login">
    <header>
      <h2 style="margin-left:100px;">Registracija</h2>
    </header>
    <form class="login-form">
      <input [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Ime" style="width: 45%" required type="text"/>
      <input [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Prezime" required style="margin-left:10px; width: 45%" type="text"/>
      <input [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Adresa" style="width: 45%" required type="text"/>
      <input [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Grad" required style="margin-left:10px; width: 45%" type="text"/>
      <input [(ngModel)]="user.country" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Drzava" style="width: 45%" required type="text"/>
      <input [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Telefon" style="width: 45%; margin-left: 10px;" type="text"/>
      <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="E-mail" required type="text"/>
      <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Korisnicko ime" required type="text"/>
      <input [(ngModel)]="user.password1" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Lozinka" required style="width: 45%;" type="password"/>
      <input [(ngModel)]="user.password2" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Potvrda lozinke" required style="margin-left:10px; width: 45%;" type="password"/>
      <input autofocus class="login-input" disabled="disabled" placeholder="Uloga" required type="text"/>
      <select [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}" style="margin-top:15px;">
        <option selected value="ADMIN">Admin</option>
      </select>
      <div *ngIf="!flag1">
        <label style="color:red;">Nisu popunjena sva polja.</label>
      </div>
      <div class="submit-container">
        <button (click)="goBack()" class="login-button" style="margin-right:210px;">Odustani</button>
        <button (click)="createUser()" style="margin-right: 5px" class="login-button">Registruj se</button>
      </div>
    </form>
  </section>
</div>
</body>