.home-registration-admin-content {
  height: 100%;
  width: 100%;
  background-image: url('src/assets/img/cottage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
