<body class="content">
	<div class="toolbar">
	<button (click)="showHidden()" style="margin-left: 30px;"><img class="menu-img" src="/assets/img/menu.png"></button>
	<label style="margin-left:100px;">Dobro dosao {{user.username}}</label>
	<button (click)="addAdventure()" class="button-2" style="margin-left: 50px; width: 200px;">Dodaj avanturu</button>
	<label style="margin-left:80px;">Sortiraj po:</label>
	<button (click)="sortByTitle()" class="button-2">Naziv</button>
	<button (click)="sortByPrice()" class="button-2">Cena</button>
	<button (click)="sortByCapacity()" class="button-2">Kapacitet</button>
	<input style="margin-left:210px; height: 20px;" placeholder="Pretraga po naslovu..." type="text" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" (keyup)="searchAdventure($event)"/>
	</div>
	<div *ngIf="flag1" class="menu-container">
		<button (click)="goToProfile()" class="menu-container-button">Profil</button><br>
		<button (click)="requestDelete()" style="margin-top:2px;" class="menu-container-button">Obrisi nalog</button><br>
		<button (click)="goToCalendar()" style="margin-top:2px;" class="menu-container-button">Dostupnost</button><br>
		<button (click)="logOut()" style="margin-top:2px;" class="menu-container-button">Odjavi se</button>
	</div>
	<div *ngIf="flag2" style="margin-top:120px; margin-left: 20px;" class="delete-container">
		<input type="text" style="width:260px; height:200px; margin-left:15px; margin-top:20px;" [(ngModel)]="textRequest" [ngModelOptions]="{standalone: true}" placeholder="Unesite razlog gasenja naloga..." required autofocus/>
		<button class="approve-button" style="margin-left:15px; margin-top:30px;" (click)="approveRequest()">Potvrdi</button>
		<button class="disable-button" style="margin-left:135px; margin-top:30px;" (click)="rejectRequest()">Odustani</button>
	</div>
	<div class="cards" *ngFor="let adventure of adventures">
		<button *ngIf="!adventure.reserved" (click)="deleteAdventure(adventure.id)" style="float: right">X</button>
		<br><br>
		<img class="cards-img" src="{{adventure.image}}">
		<br>
		<label>{{adventure.title}}<br>{{adventure.address}}</label>
		<br>
		<button (click)="goToAdventure(adventure.id)" style="align-items: center" class="button-2">Prikazi</button>
    <br>
	</div>

</body>
