<body class="content">
<div class="toolbar">
  <button (click)="showHidden()" style="margin-left: 30px;"><img class="menu-img" src="/assets/img/menu.png"></button>
  <label style="margin-left:100px;">Dobro dosao {{user.username}}</label>
  <button (click)="addAdventure()" class="button-2" style="margin-left: 50px; width: 200px;">Dodaj avanturu</button>
  <label style="margin-left:80px;">Sortiraj po:</label>
  <button (click)="sortByTitle()" class="button-2" style="margin-left: 2px">Naziv</button>
  <button (click)="sortByPrice()" class="button-2">Cena</button>
  <button (click)="sortByCapacity()" class="button-2">Kapacitet</button>
  <input (keyup)="searchAdventure($event)" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
         placeholder="Unesite parametre pretrage..."
         style="margin-left:180px; height: 20px; width:auto" type="text"/>
</div>
<div *ngIf="flag1" class="menu-container">
  <button (click)="goToProfile()" class="menu-container-button">Profil</button>
  <br>
  <button (click)="requestDelete()" class="menu-container-button" style="margin-top:2px;">Obrisi nalog</button>
  <br>
  <button (click)="goToCalendar()" class="menu-container-button" style="margin-top:2px;">Dostupnost</button>
  <br>
  <button (click)="logOut()" class="menu-container-button" style="margin-top:2px;">Odjavi se</button>
</div>
<div *ngIf="flag2" class="delete-container" style="margin-top:120px; margin-left: 20px;">
  <input [(ngModel)]="textRequest" [ngModelOptions]="{standalone: true}" autofocus
         placeholder="Unesite razlog gasenja naloga..." required
         style="width:260px; height:200px; margin-left:15px; margin-top:20px;" type="text"/>
  <button (click)="approveRequest()" class="approve-button" style="margin-left:15px; margin-top:30px;">Potvrdi</button>
  <button (click)="rejectRequest()" class="disable-button" style="margin-left:135px; margin-top:30px;">Odustani</button>
</div>
<div *ngFor="let adventure of adventures" class="cards">
  <button (click)="deleteAdventure(adventure.id)" *ngIf="!adventure.reserved" style="float: right">X</button>
  <br><br>
  <img class="cards-img" src="{{adventure.image}}">
  <br>
  <label>{{adventure.title}}<br>{{adventure.address}}</label>
  <br>
  <button (click)="goToAdventure(adventure.id)" class="button-2" style="align-items: center">Prikazi</button>
  <br>
</div>

</body>
