<div class="cottage-owner-content">
    <mat-toolbar >
        <div style="width: 50%; float:left">
            <label style="margin-left:5%;">Vikendica "{{cottage.name}}" - {{title}}</label>
        </div>
        
        <div style="width: 50%; float:right; text-align: right;">
          <button mat-raised-button color="primary" (click)="back()" style="cursor:pointer;">Nazad</button>
          <button mat-raised-button color="primary" (click)="logOut()" style="margin-left: 5%; margin-right: 5%; cursor:pointer;">Odjavite se</button>
        </div>
    </mat-toolbar>

    <div *ngIf="flagCreateTermin" class="centerDiv">
        <div class="login-container" style="text-align: center; top: 10%; margin-left: 40%;">
            <section class="login">
              <header>
                <h2>Kreiranje termina</h2>
              </header>
              <form class="login-form" style="text-align: left; float:left; width: 100%;">
                <label>Datum pocetka:</label><br>
                <input [(ngModel)]="termin.start" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                  placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
                <label>Datum zavrsetka:</label><br>
                <input [(ngModel)]="termin.end" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                  placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
                <input style="vertical-align:middle; cursor: pointer;" [(ngModel)]="termin.action" [ngModelOptions]="{standalone: true}" autofocus
                     type="checkbox" name="akcija">
                <label for="akcija" style="vertical-align:middle">Akcija?</label>
                <input style="height: 1px" class="login-input" disabled="true">
                <label *ngIf="termin.action"><br>Trajanje:</label><br>
                <input *ngIf="termin.action" [(ngModel)]="termin.daysDuration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                  placeholder="Broj dana" required="{{termin.action}}" type="text" />
                <label>Broj ljudi:</label><br>
                <input [(ngModel)]="termin.capacity" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                  placeholder="eg. 5" required type="text" />
                <div class="submit-container">
                  <button (click)="showCalendar()" class="login-button" style="float:left; margin-left: 5%;">Odustani</button>
                  <button (click)="createTermin()" class="login-button" style="margin-right: 5%">Potvrdi</button>
                </div>
              </form>
            </section>
          </div>
    </div>
    
    <div *ngIf="flagEditTermin" class="centerDiv">
      <div class="login-container" style="text-align: center; top: 10%; margin-left: 40%;">
          <section class="login">
            <header>
              <h2>Izmena termina</h2>
            </header>
            <form class="login-form" style="text-align: left; float:left; width: 100%;">
              <label>Datum pocetka:</label><br>
              <input [(ngModel)]="selectedTermin.start" disabled="{{disableEditTermin}}" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
              <label>Datum zavrsetka:</label><br>
              <input [(ngModel)]="selectedTermin.end" disabled="{{disableEditTermin}}" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
              <input style="vertical-align: middle; cursor: pointer;" disabled="{{disableEditTermin}}" [(ngModel)]="selectedTermin.action" [ngModelOptions]="{standalone: true}" autofocus
                   type="checkbox" name="akcija">
              <label for="akcija" style="vertical-align:middle">Akcija?</label>
              <input style="height: 1px" class="login-input" disabled="true">
              <label *ngIf="selectedTermin.action"><br>Trajanje:</label><br>
              <input *ngIf="selectedTermin.action" disabled="{{disableEditTermin}}" [(ngModel)]="selectedTermin.daysDuration" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="Broj dana" required="{{selectedTermin.action}}" type="text" />
              <label>Broj ljudi:</label><br>
              <input [(ngModel)]="selectedTermin.capacity" disabled="{{disableEditTermin}}" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="eg. 5" required type="text" />
              <div class="submit-container">
                <button (click)="showCalendar()" class="login-button" style="float:left; margin-left: 5%;">Odustani</button>
                <button (click)="editTermin()" class="login-button" style="margin-right: 5%">Potvrdi</button>
              </div>
            </form>
          </section>
        </div>
    </div>

    <div *ngIf="flagReserveTermin" class="centerDiv">
      <div class="login-container" style="text-align: center; top: 10%; margin-left: 40%;">
          <section class="login">
            <header>
              <h2>Rezervacija termina</h2>
            </header>
            <form class="login-form" style="text-align: left; float:left; width: 100%;">
              <label>Datum pocetka:</label><br>
              <input [(ngModel)]="selectedTermin.start" disabled="true" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
              <label>Datum zavrsetka:</label><br>
              <input [(ngModel)]="selectedTermin.end" disabled="true" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="dd-MMM-YYYY HH:mm:ss" required type="text" /><br>
              <label>Broj ljudi:</label><br>
              <input [(ngModel)]="selectedTermin.capacity" disabled="true" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="eg. 5" required type="text" />
                <label>Cena:</label><br>
              <input [(ngModel)]="selectedTermin.price" disabled="true" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
                placeholder="eg. 520e" required type="text" />
              <div class="submit-container">
                <button (click)="showCalendar()" class="login-button" style="float:left; margin-left: 5%;">Odustani</button>
                <button (click)="reserveTermin()" class="login-button" style="margin-left: 5%; margin-right: 5%">Potvrdi</button>
                <button (click)="cancelReservation()" *ngIf="selectedTermin.reserved" class="login-button" style="float: right; margin-right: 20%;">Otkazi</button>
              </div>
            </form>
          </section>
        </div>
    </div>

    <div *ngIf="flagShowCalendar" style="width:60%; height:80%; margin-top:2%; margin-left: 20%; margin-right: 20%; ">
      <span class="dot-red"></span>
        <label style="color: dimgrey; font-family: 'Courier New', Courier, monospace; font-size: medium;">-Rezervisano</label>
      <span class="dot-blue" style="margin-left: 20px"></span>
        <label style="color: dimgrey;font-family: 'Courier New', Courier, monospace; font-size: medium;">-Slobodno</label>
      <span class="dot-green" style="margin-left: 20px"></span>
        <label style="color: dimgrey;font-family: 'Courier New', Courier, monospace; font-size: medium;">-Akcija</label><br><br>
      <div>
        <button mat-raised-button id="Prethodni" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" >
          Prethodni
        </button>
        <button mat-raised-button (click)="refresh()" mwlCalendarToday [(viewDate)]="viewDate" style="margin-left: 5px">
          Danas
        </button>
        <button mat-raised-button id="Naredni" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" style="margin-left: 5px"
          (viewDateChange)="closeOpenMonthViewDay()">
          Naredni
        </button>
        <label style=" margin-left: 5%; font-size: medium;">
          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </label>
        <button mat-raised-button style="margin-left: 5%" (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">Mesec</button>
        <button mat-raised-button (click)="setView(CalendarView.Week)" style="margin-left: 5px"
          [class.active]="view === CalendarView.Week">Sedmica</button>
        <button mat-raised-button (click)="setView(CalendarView.Day)" style="margin-left: 5px"
          [class.active]="view === CalendarView.Day">Dan</button>
  
        <button mat-raised-button style="float:right" (click)="showCreateTermin()">Novi termin</button>
  
      </div>
      <br />
  
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
          (dayClicked)="changeDay($event.day.date)" (beforeViewRender)="beforeMonthViewRender($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
          (beforeViewRender)="beforeWeekViewRender($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
          (beforeViewRender)="beforeDayViewRender($event)">
        </mwl-calendar-day-view>
      </div>
  
    </div>



</div>