<div>
    <mat-toolbar>
        <div style="width: 50%; float:left">
            <label style="margin-left:5%;">Brod "{{cottage.name}}"</label>
            <button mat-raised-button color="primary" (click)="calendar()" style="cursor:pointer; margin-left:5%">Termini</button>
            <button mat-raised-button color="primary" *ngIf="isOwner" (click)="business()" style="cursor:pointer; margin-left:5%">Finansije</button>
            <button *ngIf="notLoggedOrUser && !flagSubscribed" mat-raised-button color="primary" (click)="subscribe()" style="cursor:pointer; margin-left:5%">Pretplatite se</button>
            <button *ngIf="notLoggedOrUser && flagSubscribed" mat-raised-button color="primary" (click)="unsubscribe()" style="cursor:pointer; margin-left:5%">Ukini pretplatu</button>
        </div>
        
        <div style="width: 50%; float:right; text-align: right;">
          <button mat-raised-button color="primary" (click)="back()" style="cursor:pointer;">Nazad</button>
          <button mat-raised-button color="primary" (click)="logOut()" style="margin-left: 5%; margin-right: 5%; cursor:pointer;">Odjavite se</button>
        </div>
    </mat-toolbar>

    
    <div class="image-container" style="background-image: url({{cottage.image}});">


  </div>
    <div class="cottage-info">
      <br><br>
        <div style="text-align: center;"><label style="font-size:x-large; color: black">{{cottageInfo}}</label></div>
    <br><br>
    <label class="left-content">Naziv:</label>
    <input [(ngModel)]="cottage.name" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Adresa:</label>
    <input [(ngModel)]="cottage.address" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Opis:</label>
    <input [(ngModel)]="cottage.description" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Tip broda:</label>
    <input [(ngModel)]="cottage.type" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Broj motora:</label>
    <input [(ngModel)]="cottage.engineNumber" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required  type="text" />
      <br><br>
    <label class="left-content">Jacina motora:</label>
    <input [(ngModel)]="cottage.enginePower" [disabled]='!isOwner' [ngModelOptions]="{standalone: true}" autofocus class="right-content" required  type="text" />
      <br><br>
    <label class="left-content">Max brzina:</label>
    <input [(ngModel)]="cottage.maxSpeed" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Navigaciona oprema:</label>
    <input [(ngModel)]="cottage.navigationEquipment" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Kapacitet:</label>
    <input [(ngModel)]="cottage.capacity" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Oprema za pecanje:</label>
    <input [(ngModel)]="cottage.fishingEquipment" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Cena:</label>
    <input [(ngModel)]="cottage.price" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Info:</label>
    <input [(ngModel)]="cottage.info" [ngModelOptions]="{standalone: true}" autofocus [disabled]='!isOwner'  class="right-content" required type="text" />
    <br><br>
    <label class="left-content">Pravila:</label><br>
    <textarea [(ngModel)]="cottage.rules" [ngModelOptions]="{standalone: true}" autofocus class="textarea-content" required [disabled]='!isOwner'
       type="text"></textarea>
    <br><br>
    <label class="left-content">Uslovi prekida rezervacije:</label><br>
    <textarea [(ngModel)]="cottage.cancelTerms" [ngModelOptions]="{standalone: true}" autofocus class="textarea-content" required [disabled]='!isOwner'
      type="text"></textarea>
    <br><br>
    <div *ngIf="isOwner" style="text-align: center;">
      <input (click)="editCottage()" class="mat-raised-button" id="editButton" type="submit" value="Izmeni" />
    </div>
    <br>
  </div>
  
    <div class="cottage-images">
            <br><br>
            <div>
              <input class="mat-raised-button" *ngIf="isOwner" disabled="{{show1}}" [(ngModel)]="url1" [ngModelOptions]="{standalone: true}" accept="image/*" (change)="onSelectFile1($event)" autofocus required type="file"/>
            </div>
            <br>
            <img class="small-images" src={{url1}}><br>
            <div *ngIf="show1" >
              <button mat-raised-button color="acent" (click)="deleteImg(url1)" >Obrisi sliku</button><br>
            </div>
            <br>

            <div >
              <input class="mat-raised-button" *ngIf="isOwner" disabled="{{show2}}" [(ngModel)]="url2" [ngModelOptions]="{standalone: true}" accept="image/*" (change)="onSelectFile2($event)" autofocus required type="file">
            </div>
            <br>
            <img class="small-images" src={{url2}}><br>
            <div *ngIf="show2" >
              <button mat-raised-button color="acent" (click)="deleteImg(url2)">Obrisi sliku</button><br>
            </div>
            <br>

            <div >
              <input class="mat-raised-button" *ngIf="isOwner" disabled="{{show3}}" [(ngModel)]="url3" [ngModelOptions]="{standalone: true}" accept="image/*" (change)="onSelectFile3($event)" autofocus required type="file"/>
            </div>
            <br>
            <img class="small-images" src={{url3}}><br>
            <div *ngIf="show3" >
              <button mat-raised-button color="acent">Obrisi sliku</button><br>
            </div>
            <br>

            <div >
              <input class="mat-raised-button" *ngIf="isOwner" disabled="{{show4}}" [(ngModel)]="url4" [ngModelOptions]="{standalone: true}" accept="image/*" (change)="onSelectFile4($event)" autofocus required type="file"/>
            </div>
            <br>
            <img class="small-images" src={{url4}}><br>
            <div *ngIf="show4" >
              <button mat-raised-button color="acent">Obrisi sliku</button><br>
            </div>
            <br>

            <div >
              <input class="mat-raised-button" *ngIf="isOwner" disabled="{{show5}}" [(ngModel)]="url5" [ngModelOptions]="{standalone: true}" accept="image/*" (change)="onSelectFile5($event)" autofocus required type="file"/>
            </div>
            <br>
            <img class="small-images" src={{url5}}><br>
            <div *ngIf="show5" >
              <button mat-raised-button color="acent">Obrisi sliku</button><br>
            </div>
            
            <br>
    </div>
    
    <div class="cottage-info" style="margin-top: 0%">
      <agm-map id="map" style="height: 400px; width: 100%"  [latitude]='latitude' [longitude]='longitude'>
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
      
    
</div>
