<body class="content">
	<div class="toolbar">
	</div>
	<div class="login-container">
		<section class="login" id="login">
			<header>
				<h2 style="margin-left:120px;">Prijava</h2>
			</header>
			<form class="login-form">
				<input type="text" class="login-input" [(ngModel)]="loginDetails.username" placeholder="Korisnicko ime" [ngModelOptions]="{standalone: true}" required autofocus/>
				<input type="password" class="login-input" [(ngModel)]="loginDetails.password" [ngModelOptions]="{standalone: true}" placeholder="Lozinka" required autofocus/>
				<div class="submit-container">
          <button style="margin-right: 220px" (click)="loginUser()" class="login-button">Prijavi se </button>
          <button (click)="goBack()" class="login-button">Odustani</button>
				</div>
			</form>
		</section>
	</div>
</body>
