<body class="content">
<div class="toolbar">
  <button (click)="goBack()" class="button-2" style="margin-left:20px;">Nazad</button>
  <button (click)="showActionModal()" class="button-2" style="margin-left:120px">Kreiraj akciju</button>
</div>
<div class="card1">
  <img src="{{adventure.image}}" style="width:550px; height:250px;">
  <img class="small-images" src="/assets/img/meeting1.jpg">
  <img class="small-images" src="/assets/img/meeting2.jpg"><br>
  <img class="small-images" src="/assets/img/meeting3.jpg">
  <img class="small-images" src="/assets/img/meeting4.jpg"><br>
  <img class="small-images" src="/assets/img/meeting5.jpg">
  <img class="small-images" src="/assets/img/meeting6.jpg">
</div>
<div *ngIf="!flag1" class="card3">
  <br>
  <label class="label-margin-left>" style="color:black">Datum početka akcije:</label><br>
  <input autofocus required type="text" [(ngModel)]="termin.start" [ngModelOptions]="{standalone: true}" placeholder="dd-MMM-yyy HH:mm:ss"/><br><br>
  <label class="label-margin-left>" style="color:black" >Datum kraja akcije:</label><br>
  <input autofocus required type="text" [(ngModel)]="termin.end" [ngModelOptions]="{standalone: true}" placeholder="dd-MMM-yyy HH:mm:ss"/><br><br>
  <label class="label-margin-left>" style="color:black">Mesto:</label><br>
  <input [(ngModel)]="adventure.address" disabled="true" [ngModelOptions]="{standalone: true}" autofocus required type="text"/><br><br>
  <label class="label-margin-left>" style="color:black">Trajanje:</label><br>
  <input autofocus required type="text" [(ngModel)]="termin.duration" [ngModelOptions]="{standalone: true}"/><br><br>
  <label class="label-margin-left>" style="color:black">Maksimalan broj osoba:</label><br>
  <input autofocus required type="text" [(ngModel)]="capacity" [ngModelOptions]="{standalone: true}"/><br><br>
  <label class="label-margin-left>" style="color:black">Cena:</label><br>
  <input autofocus required type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}"/><br><br>
  <input type="submit" id="createActionButton" value="Kreiraj" class="mat-button" (click)="createAction()" style="margin-left: 25px; margin-top:10px"/>
  <button (click)="rejectCreateAction()" class="mat-button" style="margin-left: 5px">Odustani</button>
</div>
<div class="card2">
  <div class="header"><label style="font-size: medium; color: white">Izmeni avanturu</label></div>
  <br><br>
  <label class="label-margin-left">Naziv avanture:</label><input [(ngModel)]="adventure.title"
                                                                 [ngModelOptions]="{standalone: true}"
                                                                 autofocus class="input-margin-left"
                                                                 required type="text"/><br><br>
  <label class="label-margin-left">Lokacija:</label><input [(ngModel)]="adventure.address"
                                                           [ngModelOptions]="{standalone: true}"
                                                           autofocus class="input-margin-left" required
                                                           type="text"/><br><br>
  <label class="label-margin-left">Maksimalan broj osoba:</label><input [(ngModel)]="adventure.maxNumber"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autofocus class="input-margin-left"
                                                                        required type="text"/><br><br>
  <label class="label-margin-left">Cena(EUR):</label><input [(ngModel)]="adventure.priceList"
                                                            [ngModelOptions]="{standalone: true}"
                                                            autofocus class="input-margin-left" required
                                                            type="text"/><br><br>
  <label class="label-margin-left">Besplatna oprema:</label><br><textarea [(ngModel)]="adventure.equipment"
                                                                          [ngModelOptions]="{standalone: true}"
                                                                          autofocus class="label-margin-left"
                                                                          required
                                                                          style="width: 450px; height: 70px"
                                                                          type="text"></textarea><br><br>
  <label class="label-margin-left">Kratak opis avanture:</label><br><textarea [(ngModel)]="adventure.description"
                                                                              [ngModelOptions]="{standalone: true}"
                                                                              autofocus
                                                                              class="label-margin-left"
                                                                              required
                                                                              style="width: 450px; height: 70px"
                                                                              type="text"></textarea><br><br>
  <label class="label-margin-left">Biografija instruktora:</label><br><textarea
  [(ngModel)]="adventure.instructorBiography"
  [ngModelOptions]="{standalone: true}"
  autofocus
  class="label-margin-left"
  required
  style="width: 450px; height: 70px"
  type="text"></textarea><br><br>
  <label class="label-margin-left">Pravila ponasanja i dodatne usluge:</label><br><textarea [(ngModel)]="adventure.rule"
                                                                                            [ngModelOptions]="{standalone: true}"
                                                                                            autofocus
                                                                                            class="label-margin-left"
                                                                                            required
                                                                                            style="width: 450px; height:70px"
                                                                                            type="text"></textarea><br><br>
  <label class="label-margin-left">Uslovi otkazivanja:</label><br><textarea [(ngModel)]="adventure.cancelCondition"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            autofocus
                                                                            class="label-margin-left"
                                                                            required
                                                                            style="width: 450px; height: 70px"
                                                                            type="text"></textarea><br><br>
  <input (click)="editAdventure()" *ngIf="!adventure.reserved" class="mat-button" id="editButton" style="margin-left: 40%"
         type="submit" value="Izmeni"/>
</div>
</body>
