<body class="add-adventure-content">
<div class="login-container">
  <section class="login" id="login">
    <header>
      <h2 style="margin-left:100px;">Dodavanje avanture</h2>
    </header>
    <form class="login-form">
      <input [(ngModel)]="adventure.title" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Naziv" required type="text"/>
      <input [(ngModel)]="adventure.description" [ngModelOptions]="{standalone: true}" autofocus
             class="login-input" placeholder="Opis" required type="text"/>
      <input [(ngModel)]="adventure.address" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
             placeholder="Adresa" required type="text"/>
      <input [(ngModel)]="URL" [ngModelOptions]="{standalone: true}" accept="image/*" autofocus required
             style="width:40%" type="file"/>
      <br>
      <input [(ngModel)]="adventure.maxNumber" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Dozvoljen broj osoba" required style="width:280px; height:30px;" type="text"/>
      <input [(ngModel)]="adventure.instructorBiography" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Biografija" required style="width:280px; height:30px;" type="text"/><br>
      <input [(ngModel)]="adventure.rule" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Pravila ponasanja i dodatne usluge" required style="width:280px; height:30px;" type="text"/><br>
      <input [(ngModel)]="adventure.equipment" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Oprema" required style="width:280px; height:30px;" type="text"/><br>
      <input [(ngModel)]="adventure.priceList" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Cena u EUR" required style="width:280px; height:30px;" type="text"/><br>
      <input [(ngModel)]="adventure.cancelCondition" [ngModelOptions]="{standalone: true}" autofocus
             placeholder="Uslov otkaza rezervacije" required style="width:280px; height:30px;" type="text"/>
      <div class="submit-container">
        <button (click)="goBack()" class="login-button" style="margin-right:260px;">Odustani</button>
        <button (click)="addAdventure()" class="login-button">Dodaj</button>
      </div>
    </form>
  </section>
</div>
</body>
