<div class="cottage-owner-content">
    <mat-toolbar >
        <div style="width: 50%; float:left">
            <label style="margin-left:5%;">Lista vikendica</label>
        </div>
        
        <div style="width: 50%; float:right; text-align: right;">
            <button mat-raised-button color="primary" (click)="goToAddCottage()">Add cottage</button>
            <button mat-raised-button color="primary" (click)="goToHomePage()" style="margin-left: 5%; cursor:pointer;">Nazad</button>
            <button mat-raised-button color="primary" (click)="logOut()" style="margin-left: 5%; margin-right: 5%; cursor:pointer;">Odjavite se</button>

        </div>
    </mat-toolbar>

    <div style="margin-top: 3%">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>vikendica</mat-grid-tile>
            <mat-grid-tile>vikendica</mat-grid-tile>
            <mat-grid-tile>vikendica</mat-grid-tile>
            <mat-grid-tile>vikendica</mat-grid-tile>
        </mat-grid-list>
    </div>
    
</div>