<div>
    <mat-toolbar >
           <div style="width: 50%; float:left">
               <label style="margin-left:5%;">Dodavanje vikendice</label>
           </div>
           
           <div style="width: 50%; float:right; text-align: right;">
               <button mat-raised-button color="primary" (click)="goToHomePage()">Nazad</button>
               <button mat-raised-button color="primary" (click)="logOut()" style="margin-left: 5%; margin-right: 5%; cursor:pointer;">Odjavite se</button>
   
           </div>
    </mat-toolbar>
 <div style="margin-top: 5%; display: flex; justify-content: center;">
   <section style="align-content: center;" class="login" id="login">
     <form class="login-form">
       <input [(ngModel)]="cottage.name" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Naziv" required type="text"/>
       <input [(ngModel)]="cottage.address" [ngModelOptions]="{standalone: true}" autofocus
              class="login-input" placeholder="Adresa" required type="text"/>
       <input [(ngModel)]="cottage.description" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Opis" required type="text"/>
        <input [(ngModel)]="cottage.type" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Tip" required type="text"/>
       <input [(ngModel)]="URL" [ngModelOptions]="{standalone: true}" accept="image/*" autofocus required type="file"/>
       <br><hr>
       <input [(ngModel)]="cottage.engineNumber" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Broj motora" required type="text"/>
       <input [(ngModel)]="cottage.enginePower" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Jacina motora:" required type="text"/><br>
              <input [(ngModel)]="cottage.maxSpeed" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Max brzina:" required type="text"/><br>
              <input [(ngModel)]="cottage.navigationExquipment" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Navigaciona oprema:" required type="text"/><br>
              <input [(ngModel)]="cottage.capacity" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Kapacitet:" required type="text"/><br>
              <input [(ngModel)]="cottage.fishingEquipment" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Oprema za pecanje:" required type="text"/><br>
              <input [(ngModel)]="cottage.cancelTerms" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Uslovi prekida rezervacije:" required type="text"/><br>
       <input [(ngModel)]="cottage.rules" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Pravila ponasanja" required type="text"/><br>
       <input [(ngModel)]="cottage.price" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Cena" required type="text"/><br>
       <input [(ngModel)]="cottage.info" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Informacije o dodatnim uslugama" required type="text"/><br>
       <input [(ngModel)]="cottage.latitude" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Geograska sirina:" required type="text"/><br>
       <input [(ngModel)]="cottage.longitude" [ngModelOptions]="{standalone: true}" autofocus class="login-input"
              placeholder="Geografska duzina:" required type="text"/><br>
       <div class="submit-container">
         <button mat-raised-button (click)="addCottage()" style="margin-right: 40%">Dodaj</button>
       </div>
     </form>
   </section>
</div>
</div>
 